@charset "UTF-8";

/*fonte Padrão*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');

/*Fonte Título Simples*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: "Android";
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor1: #B1E3B6;
    --cor2: #3BD14A;
    --cor3: #00A648;
    --cor4: #39882D;
    --cor5: #4C7C50;

    --font_padrao: "Roboto";
    --font_android: "Android";
    --font_titulo_simples: "Bebas Neue";
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    text-align: center;
    min-width: 150px;
    padding: 20px;
    padding-bottom: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.411);
}

header h1{
    font-family: var(--font_titulo_simples);
    font-weight: normal;
    color: #f0ffff;
    font-size: 3em;
    text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.411);
}

header p{
    font-family: var(--font_padrao);
    color: #f0ffff;
}

nav{
    text-align: left;
    font-family: var(--font_padrao);
    margin-top: 50px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    background-color: var(--cor1);
    color: var(--cor4);
    border-radius: 5px;
    transition-duration: 0.5s;
}

main{
    max-width: 900px;
    min-width: 150px;
    padding: 20px;
    margin: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.411);
}

main img{
    width: 100%;
    display: block;
    margin: auto;
}

.ajuste{
    max-width: 300px;
    display: block;
    margin: auto;
}

main h1{
    font-family: var(--font_android);
    color: var(--cor5);
    font-size: 2em;
    margin: 10px 0px;
}

main h2{
    font-family: var(--font_android);
    color: var(--cor3);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-size: 1.5em;
    margin: 10px 0px;
}

main p{
    font-family: var(--font_padrao);
    font-size: 1.1em;
    line-height: 2em;
    text-indent: 20px;
    text-align: justify;
}

main a{
    text-decoration: none;
    color: var(--cor4);
    background-color: var(--cor1);
}

main a:hover{
    text-decoration: underline;
    color: var(--cor5);
}

main a::before{
    content: '🔗';
}

main aside{
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
}

aside h3{
    font-family: var(--font_padrao);
    background-color: #3BD14A;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

main ul{
    list-style-position: inside;
    list-style-type: '✓ ';
    columns: 2;
    font-family: var(--font_padrao);
}

footer{
    text-align: center;
    font-size: 0.8em;
    font-family: var(--font_padrao);
    padding: 5px;
    background-color: var(--cor4);
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
    color: white;
}

strong{
    color: var(--cor5);
    font-weight: bold;
}